:root {
	--black: #0c0c0c;
	--white: #fefefe;
}

/*-------------------------------------------------------------CSS Reset----------------------------------------------------------------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: var(--white);
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/*--------------------------------------------------------------Header------------------------------------------------------------------------*/

header {
	width: 100%;
	height: fit-content;
	background-color: var(--black);
}

header > nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1rem;
}

header > nav > ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1.3rem;
}

header > nav > ul > li > a {
	color: var(--white);
	text-decoration: none;
}

header > nav > ul > li > a:hover {
	text-shadow: 0 0 0 var(--white);
	transition: all 0.4s ease-in-out;
}

header > nav > ul > li > a > img {
	height: 40px;
	min-width: 40px;
}
