:root {
	--black: #0c0c0c;
	--white: #fefefe;
	--grey: #d9d9da;
	--red: #cc0000;
}

/*-------------------------------------------------------------CSS Reset----------------------------------------------------------------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: var(--white);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--black);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/*--------------------------------------------------------------header------------------------------------------------------------------------*/

header {
	width: 100%;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
	z-index: 99999;
}

/*---nav---*/

header > nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1rem;
	background-color: var(--black);
}

header > nav > ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1.3rem;
}

header > nav > .left-ul {
	margin-right: 12rem;
}

header > nav > .right-ul {
	margin-left: 12rem;
}

header > nav > ul > li > a {
	color: var(--white);
	text-decoration: none;
}

header > nav > ul > li > a:hover {
	text-shadow: 0 0 0 var(--white);
	transition: all 0.4s ease-in-out;
}

header > nav > ul > li > .login-btn {
	border: 0.01rem solid;
	padding: 0.32rem 0.4rem;
	border-radius: 0.5rem;
	font-weight: 700;
}

header > nav > ul > li > a > img {
	height: 40px;
	min-width: 40px;
}

/*--------------------------------------------------------------main------------------------------------------------------------------------*/

main {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
}

.red {
	color: var(--red);
}

/*---trending section---*/

.trending-row {
	display: flex;
	margin-bottom: 2rem;
	justify-content: space-between;
}

.trending-row a {
	text-decoration: none;
	color: var(--black);
}

.trending-row > a {
	font-size: 0.82rem;
	padding: 0rem 0.55rem;
	border-right: 0.15rem solid var(--grey);
	line-height: 0.9;
	font-weight: 600;
	flex: 0 0 auto;
}

.trending-row > a:hover {
	color: var(--red);
	transition: all 0.2s ease-out;
}

.trending-row > a > strong {
	color: var(--red);
}

/*---news-row-1 section---*/

.row-1 {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.row-1 a {
	text-decoration: none;
	color: var(--black);
	font-size: 1rem;
}

.row-1 a:hover {
	color: var(--red);
	transition: all 0.2s ease-out;
}

.row-1 h3 {
	font-size: 1.25rem;
	padding: 0.4375rem 0;
}

.row-1 ul li {
	list-style-position: inside;
	font-size: 0.7rem;
}

.row-1 ul li a {
	margin-left: -0.5rem;
}

.news-col {
	display: flex;
	flex-direction: column;
}

/*col-1*/

.row-1 > .col-1 {
	flex: 2 1 460px;
	max-width: 460px;
}

.row-1 > .col-1 > a:not(:nth-of-type(1), :nth-of-type(2)) {
	padding: 0.4375rem 0;
}

.row-1 > .col-1 > a:not(:nth-of-type(1), :nth-of-type(2), :nth-of-type(3)) {
	border-top: 0.005rem solid var(--grey);
}

.row-1 > .col-1 > a:nth-of-type(1) > h1 {
	text-align: center;
	font-weight: 500;
	font-size: 2.25rem;
}

.row-1 > .col-1 > a:nth-of-type(2) {
	position: relative;
}

.row-1 > .col-1 > a:nth-of-type(2) > img {
	height: 259px;
}

.row-1 > .col-1 > a:nth-of-type(2) > .live-update {
	color: var(--white);
	background-color: var(--red);
	padding: 0.6rem;
	position: absolute;
	bottom: 0;
	font-weight: 600;
	font-size: 0.8rem;
}

.row-1 > .col-1 > a:nth-of-type(3) {
	font-weight: 700;
	font-size: 1.15rem;
}

/*col-2*/

.row-1 > .col-2 {
	flex: 1 1 300px;
	max-width: 300px;
}

.row-1 > .col-2 img {
	height: 169px;
}

.row-1 > .col-2 li a {
	text-decoration: underline var(--grey);
	text-underline-offset: 0.2rem;
}

.row-1 > .col-2 li a:hover {
	text-decoration: none;
	transition: all 0.2s ease-out;
}

.row-1 > .col-2 > .news-1 {
	margin-bottom: 1.1rem;
}

/*col-3*/

.row-1 .col-3 {
	flex: 1 1 300px;
	max-width: 300px;
}

.row-1 .col-3 img {
	height: 169px;
}

.row-1 > .col-3 > a:not(:nth-of-type(1), :nth-of-type(2)) {
	padding: 0.4375rem 0;
}

.row-1 > .col-3 > a:not(:nth-of-type(1), :nth-of-type(2)) {
	border-top: 0.005rem solid var(--grey);
}

/*---news-row-2 section---*/
